# LOCAL DEVELOPMENT STACK
# Estes serviços são destinados apenas para uso local.
# No Railway, utilize os Add-ons nativos para Redis/Postgres e a observabilidade nativa.

services:
  redis:
    image: redis:alpine
    container_name: sipel-redis
    ports:
      - "6379:6379"

  prometheus:
    image: prom/prometheus:latest
    container_name: sipel-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana:latest
    container_name: sipel-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
