spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/georoute-api
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:paodepovilho2003}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true